
.footer[b-rgonlwl48j] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.footer[b-rgonlwl48j] {
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
}

    .footer a[b-rgonlwl48j] {
        color: #0077cc;
    }

        .footer a:hover[b-rgonlwl48j] {
            color: #0056b3;
        }
