<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>OrderFoodWeb is your go-to platform for ordering delicious meals from a variety of local restaurants. Enjoy fast delivery and great customer service.</p>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:support@orderfoodweb.com">support@orderfoodweb.com</a></li>
                    <li><a href="tel:+1234567890">+1 (234) 567-890</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                &copy; 2024 - OrderFoodWeb - <a asp-area="" asp-page="/Privacy" class="footer-link">Privacy</a>
            </div>
        </div>
    </div>
</footer>
