@page "{categoryId:int?}"
@model OrderFoodWeb.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Menu Pizza";
}

<section class="best-sellers-section">
    <div class="text-center mb-4">
        <div class="section-headers">
            <h1 class="main-header text-primary">Pizza</h1>
        </div>
    </div>
    <div class="grid">
        @foreach (var product in Model.Products)
        {
            <div class="menu-item">
                <img src="@product.ImageUrl" alt="@product.ProductName" class="menu-item-image">
                <h2 class="menu-item-name">@product.ProductName</h2>
                <p class="menu-item-description">@product.Description</p>
                <div class="menu-item-price">$@product.Price</div>
                <button class="add-to-cart-button">Add to Cart</button>
            </div>
        }
    </div>
</section>